APP_ENV=local
LOG_LEVEL=INFO

TELEGRAM_BOT_TOKEN=
OPENAI_API_KEY=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=theygrow_diary_rag
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

EMBEDDING_MODEL=
CHAT_MODEL=
